YOUTUBE_API_KEY = 'your youtube api key'
CHANNEL_ID = 'the youtube channel ID'
BLUESKY_ACCOUNT = 'the bot account'
BLUESKY_APP_PASSWORD = 'app password for the bot account'
ACCOUNT_OWNER = 'your account'

#these are for testing/troubleshooting/development
LAST_PROCESS_OVERRIDE = '2026-08-01 03:44:48.237305+00:00' #this overrides the last process time of the program
IGNORE_CACHE = False #ignore cache during testing