YOUTUBE_API_KEY = 'your youtube api key'
CHANNEL_ID = 'the youtube channel ID'
BLUESKY_ACCOUNT = 'the bot account'
BLUESKY_APP_PASSWORD = 'app password for the bot account'
ACCOUNT_OWNER = 'your account'